// Drawer
.MuiDrawer-paper.css-1160xiw-MuiPaper-root-MuiDrawer-paper {
  background-color: #232020;
}

.mobile-links-list {
  padding: 0;
  font-size: 25px;
  li {
    text-align: center;
    list-style-type: none;
    padding: 20px;
    a {
      text-decoration: none;
      color: white;
    }
  }
}
