@use '../../styles/colors' as colors;

.it-hub {
  background-image: url(../../assets/images/admissions-logo-container.svg);
  background-size: 100%;
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.block-admissions {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #191818;
  padding: 30px 0;
}
.admissions {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 100%;
  background-image: url(../../assets/images/admissions-text-container.svg);
  width: 550px;
  height: 350px;
}
.title-admissions {
  text-align: center;
  color: colors.$main-white;
  font-size: 25px;
}
.title-year-admissions {
  font-size: 50px;
}
.it-hub-logo {
  z-index: 5;
  height: 157px;
  width: 210px;
}
@media (screen and max-width: 1000px) {
  .it-hub {
    display: none;
  }
  .block-admissions {
    background-color: colors.$dark-gray;
  }
}
@media (screen and max-width: 550px) {
  .admissions {
    width: 324px;
    height: 206px;
  }
}
