@use '../../styles/colors' as colors;
@use "../../styles/variables" as variables;

.phone-service-support {
  background-color: colors.$main-grey;
  text-align: center;
  color: #9c9b9b;
  padding: 15px;
  height: variables.$phoneHeight;
  position: fixed;
  width: 100vw;
  box-sizing: border-box;
  top: 100px;
  z-index: 100;
}
.number {
  text-decoration: none;
  color: #4c49e3;
}
@media (screen and max-width: 1000px) {
  .phone-service-support {
    display:none;
  }
}
