@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Open+Sans:wght@300&display=swap');
body{
  margin: 0;
  font-family: 'Inter', sans-serif;
}
.phone_service_support{
  width: 100%;
  background-color: #2c2b2b;
  height: 50px;
  display: flex;
  justify-content: center;
}
.number{
  color: #4c49e3;
}
.help{
  color: #9c9b9b;
}
