@use '../../styles/colors' as colors;
@use '../../styles/variables' as variables;

.reviews-container {
  background-color: #1e1d1d;
  padding: 40px 0;
  scroll-margin-top: variables.$headerAndPhoneHeight;
}

.reviews-heading-text {
  font-weight: normal;
  margin-left: 30px;
}

.all-reviews-rectangles {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 40px 40px 20px 40px;
}

.student-photo {
  background-size: 100%;
  border: 5px solid #5b1573;
  min-width: 235px;
  min-height: 235px;
  box-shadow: 0 0 5px #a71dd8;
}
.reviews-text {
  color: #a71dd8;
  padding-left: 40px;
  font-size: 25px;
}
.reviews-text-2 {
  color: #fff;
  font-size: 18px;
}
.reviews-text-3 {
  color: #fff;
  font-size: 15px;
}
.reviews-slider-wrapper{
  .slick-dots {
    bottom: -20px;
  }
}
.student-photo-1{
  background-image: url(../../assets/images/ivan.webp);
}
.student-photo-2{
  background-image: url(../../assets/images/yaroslav.webp);
}
.student-photo-3{
  background-image: url(../../assets/images/ph.webp);
}
.student-photo-4{
  background-image: url(../../assets/images/sergei.webp);
}
@media (screen and max-width: 600px) {
  .all-reviews-rectangles {
    flex-direction: column;
    padding: 5px;
    margin: 40px 0;
  }
  .student-photo {
    width: 85vw;
    height: 85vw;
    margin: auto;
  }
}
