@use '../../styles/colors' as colors;
.rectangle-spec-modal {
  border: 3px solid #a71dd8;
  padding: 5px 0;
  text-align: center;
  box-shadow: 0 0 5px #a71dd8;
  border-radius: 10px;
  h2 {
    font-family: 'Inter', sans-serif;
  }
}
.text-spec-modal {
  text-align: left;
  white-space: normal;
  p {
    font-family: 'Inter', sans-serif;
  }
}
