$main-pink: rgba(212, 109, 248, 0.8); // #d46df8
$main-grey: rgb(44, 43, 43);
$main-dark-pink: rgb(91,21,115);
$box-shadow-dark-pink: rgb(167,29,216);
$main-graphite: rgb(37, 36, 36); // #252424
$main-white: rgb(255, 255, 255);
$main-purple: rgba(167, 29, 216, 0.1);
$main-ink: rgb(14,14,14); //#0E0E0E
$dark-gray: rgb(26,26,26); //#1a1a1a
$lighter-dark-gray: rgb(30,29,29); //#1e1d1d
