@use '../../styles/colors' as colors;

.block-preparatory-about {
  background-color: colors.$lighter-dark-gray;
  display: flex;
  justify-content: space-evenly;
  color: colors.$main-white;
}
.preparatory-about-square {
  background: url(../../assets/images/courses-text-container.svg) center;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.preparatory-about-square-container {
  height: 564px;
  width: 400px;
}
.about-link {
  margin: 15px 0;
  text-decoration: none;
  font-size: 20px;
  color: colors.$main-white;
}
.preparatory-about-description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 500px;
  padding: 30px 50px;
}
.title-preparatory-about {
  z-index: 1;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}
.title-about{
  font-size: 25px;
  text-align: left;
  color: colors.$main-pink;
  margin: 20px 0 0 0;
}
.title-about-description{
  font-size: 18px;
  color: #fff;
  text-align: left;
}
.title-photo-gallery {
  font-weight: normal;
}
.about-img-container {
  cursor: pointer;
  margin: 0 10px;
}
.about-photo-gallery {
  background-color: #1e1d1d;
  padding: 40px 40px 60px;
}
.about-slide-img {
  height: 203px;
  max-width: 100%;
}

@media (screen and max-width: 1000px) {
  .block-preparatory-about {
    flex-direction: column;
  }
  .preparatory-about-square-container {
    width: 100%;
    height: 100%;
    background: #141414;
  }
  .preparatory-about-square {
    height: 400px;
    margin: auto;
    width: 400px;
  }
  .preparatory-about-description{
    gap: 50px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
  }
}
.link-to-moscow{
  color: colors.$main-pink;
}
@media (screen and max-width: 400px) {
  .preparatory-about-square {
    height: 300px;
    margin: auto;
    width: 300px;
  }
}
