@use '../../styles/colors' as colors;

.open-day-component {
  display: flex;
  font-size: 1.3rem;
  h3 {
    margin: 25px 0;
    text-align: center;
  }
}
.open-day {
  padding: 40px 30px 15px;
  width: 40%;
  box-sizing: border-box;
  background: colors.$dark-gray;
}
.schools-events {
  padding: 40px 0;
  width: 60%;
  background: colors.$lighter-dark-gray;
}
.slide-img {
  max-height: 100%;
  max-width: 100%;
}
.open-day-slider-wrapper {
  max-width: 510px;
  margin: auto;
  .slick-dots {
    bottom: -20px;
  }
}
.open-day-content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.img-container {
  margin: 0 10px;
}
.open-day-focus {
  color: colors.$main-pink;
}
.event-description {
  padding: 5px 10px;
  text-align: end;
}
.invite-btn-wrapper {
  margin-top: 40px;
  text-align: center;
}
.assign-btn-wrapper {
  text-align: center;
  margin-top: 10px;
}

.open-day-desc {
  line-height: 2rem;
  margin-top: 10px;
}
.open-day-dates-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  max-height: 120px;
  overflow: auto;
  li {
    padding: 5px;
  }
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(175, 92, 204, 0.1);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(175, 92, 204, 0.2);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(175, 92, 204, 0.4);
  }
  &::-webkit-scrollbar-thumb:active {
    background: rgba(175, 92, 204, 0.9);
  }
  scrollbar-width: thin;
  scrollbar-color: rgba(175, 92, 204, 0.5) rgba(175, 92, 204, 0.1);
}
.open-day-dates {
  margin-top: 10px;
  background-color: #151515;
  padding: 10px 20px;
  border-radius: 15px;
}
@media (screen and max-width: 1000px) {
  .open-day-component {
    flex-direction: column;
  }
  .schools-events{
    width: 100%;
  }
  .open-day {
    width: 100%;
    background-color: #181818;
  }
  .open-day-slider-wrapper {
    max-width: 100%;
    padding: 5vw;
  }
}
