@use '../../styles/colors' as colors;

.open-day-component{
  display: flex;
  color: #ffffff;
  font-size: 1.3rem;
  h3{
    text-align: center;
  }
}
.open-day{
  padding: 0 30px 30px 30px;
  width: calc(40% - 30px);
}
.schools-events{
  width: 60%;
}
.slide-img {
  max-height: 100%;
  max-width: 100%;
}
.slider-wrapper {
  max-width: 460px;
  margin: auto;
}
.open-day-content-wrapper{
  display: flex;
  flex-direction: column;
}
.img-container{
  height: 230px;        // this height is height of a most tall image
  display: grid;
  align-items: center;
  margin: 0 10px;
  cursor: pointer;
}
.open-day-focus{
  color: colors.$main-dark-pink;
}
.event-description{
  text-align: end;
}
.invite-btn-wrapper{
  margin-top: 40px;
  text-align: center;
}
.slick-dots{
  bottom: -20px;
}
.open-day-desc{
  margin-top: 50px;
  line-height: 2rem;
}
.open-day-date{
  margin-top: 50px;
}
