@use '../../styles/colors' as colors;

.specialities-container {
  margin: auto;
  background-color: #191818;
  width: 100%;
  padding: 40px 0;
}

.specialities-heading-text {
  font-size: 40px;
  color: #fff;
  margin: 0 0 40px 30px;
}

.all-specialities-rectangles {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.specialities-rectangle {
  border: 5px solid colors.$main-dark-pink;
  width: 220px;
  height: 220px;
  box-shadow: 0 0 5px colors.$box-shadow-dark-pink;
  cursor: pointer;
}

.rec-bg1 {
  background: url(../../assets/images/web_dev.png);
  background-size: 100%;
}

.rec-bg2 {
  background: url(../../assets/images/coder.png);
  background-size: 100%;
}

.rec-bg3 {
  background: url(../../assets/images/sys_adm.png);
  background-size: 100%;
}

.rec-text-default {
  width: 100%;
  color: #ffffff;
  box-sizing: border-box;
  text-align: center;
  background: #5b1573;
  border: 7px solid #5b1573;
  font-size: 20px;
}
.rec-text-size1 {
  margin-top: 72%;
}
.rec-text-size2 {
  margin-top: 65%;
}
