@use '../../styles/colors' as colors;
@use '../../styles/variables' as variables;

.specialities-container {
  margin: auto;
  background-color: #191818;
  width: 100%;
  padding: 20px 0 40px;
  scroll-margin-top: variables.$headerAndPhoneHeight;
}

.specialities-heading-text {
  font-weight: normal;
  margin-left: 30px;
}

.all-specialities-rectangles {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.specialities-rectangle {
  border: 5px solid colors.$main-dark-pink;
  width: 220px;
  height: 220px;
  box-shadow: 0 0 5px colors.$box-shadow-dark-pink;
  cursor: pointer;
}

.rec-bg1 {
  background: url(../../assets/images/web_dev.webp);
  background-size: 100%;
}

.rec-bg2 {
  background: url(../../assets/images/coder.webp);
  background-size: 100%;
}

.rec-bg3 {
  background: url(../../assets/images/sys_adm.webp);
  background-size: 100%;
}

.rec-text-default {
  color: #ffffff;
  text-align: center;
  background: colors.$main-dark-pink;
  width: 100%;
  font-size: 20px;
  padding: 5px 0;
}
.rec-text-size1 {
  margin-top: 165px;
}
.rec-text-size2 {
  margin-top: 150px;
}
@media (screen and max-width: 780px) {
  .all-specialities-rectangles {
    flex-direction: column;
  }
  .specialities-rectangle {
    margin: 20px auto;
  }
}
