@use '../../styles/colors' as colors;
.hexa {
  font-family: 'Inter', sans-serif;
  &.disabled {
    background: rgba(175, 92, 204, 0.6);
    &::after {
      border-left-color: rgba(175, 92, 204, 0.6);
    }
    &::before {
      border-right-color: rgba(175, 92, 204, 0.6);
    }
  }
  margin: 0 15px;
  padding: 15px 40px;
  border-radius: 0;
  border: 0;
  color: #fff;
  background-color: colors.$main-pink;
  font-size: 20px;
  cursor: pointer;
  &::after {
    content: '';
    position: absolute;
    margin-left: 40px;
    margin-top: -15px;
    border-left: 15px solid colors.$main-pink;
    border-top: 27px solid transparent;
    border-bottom: 27px solid transparent;
  }
  &::before {
    content: '';
    position: absolute;
    margin-left: -55px;
    margin-top: -15px;
    border-right: 15px solid colors.$main-pink;
    border-top: 27px solid transparent; // 2 paddings, font size, idk what is 3
    border-bottom: 27px solid transparent;
  }
}

@media (screen and max-width: 500px) {
  .hexa {
    padding: 10px 30px;
    &::after {
      margin-left: 30px;
      margin-top: -10px;
      border-top: 22px solid transparent;
      border-bottom: 22px solid transparent;
    }
    &::before {
      margin-left: -45px;
      margin-top: -10px;
      border-top: 22px solid transparent;
      border-bottom: 22px solid transparent;
    }
  }
}
@media (min-resolution: 1.1x) and (max-resolution: 1.9x), (min-resolution: 2.1x) and (max-resolution: 2.9x) {
  @-moz-document url-prefix() {
    .hexa {
      border-radius: 5px;
      &::after {
        display: none;
      }
      &::before {
        display: none;
      }
    }
  }
}
