@use '../../styles/colors' as colors;
.shape-case {
  background-color: colors.$lighter-dark-gray;
  padding: 40px;
}
.text-shape-head {
  font-size: 40px;
  margin-bottom: 40px;
  text-align: center;
}
.shape-rectangle {
  border: 3px solid #1a1a1a;
  background-color: colors.$dark-gray;
  border-radius: 38px;
  padding: 40px 30px;
}
.max-file-size-hint {
  color: red;
  padding: 10px 0;
}
.share-flex-row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px 0;
  & > * {
    flex-grow: 1;
  }
}
.share-flex-column {
  & > * {
    width: 100%;
  }
  padding: 20px 0;
}
.share-btn-wrapper {
  margin-top: 20px;
  text-align: center;
}
.share-checkbox {
  display: flex;
  justify-content: center;
}
.files-to-upload {
  display: grid;
  grid-template-columns: 200px 1fr;
  row-gap: 20px;
  padding: 20px 0;
}
.file-name {
  align-self: center;
}
@media (screen and max-width: 600px) {
  .share-flex-row {
    flex-direction: column;
    gap: 40px;
  }
  .files-to-upload {
    grid-template-columns: 1fr;
  }
  .shape-case {
    padding: 20px 5px;
  }
}
.allowed-formats {
  font-size: 16px;
  color: #656565;
}
