@use '../../styles/colors' as colors;

.block-preparatory-courses {
  background-color: colors.$lighter-dark-gray;
  display: flex;
  justify-content: space-evenly;
  height: 400px;
  color: colors.$main-white;
}
.preparatory-courses-square {
  background-color: #141414;
  padding: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.courses-square-2 {
  margin-top: 40px;
}
.courses-square {
  position: absolute;
  background-color: colors.$main-purple;
  transform: rotate(45deg);
  width: 250px;
  height: 240px;
}
.courses-square-3 {
  margin-bottom: 40px;
}
.courses-link {
  margin: 15px 0;
  text-decoration: none;
  font-size: 20px;
  color: colors.$main-white;
}
.preparatory-courses-description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 50px;
}
.title-preparatory-courses {
  z-index: 1;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}
.title-courses-description,
.title-photo-gallery {
  font-size: 20px;
  color: #fff;
}
.courses-img-container {
  display: flex;
  justify-content: space-evenly;
  gap: 25px;
}
.courses-photo-gallery {
  background-color: #1e1d1d;
  padding: 20px 40px 40px 40px;
}
.courses-slide-img {
  width: 30%;
}
