@use '../../styles/colors' as colors;

.map {
  width: 100%;
  height: 400px;
  margin-top: 40px;
}
.box-address {
  padding: 40px;
  background: colors.$lighter-dark-gray;
}
.card-address {
  background-color: colors.$dark-gray;
  padding: 0 20px 0 20px;
  border: 5px solid colors.$main-dark-pink;
  box-shadow: 0 0 5px colors.$main-dark-pink;
  width: fit-content;
}
.h-address {
  font-weight: normal;
}
.p-address {
  color: #fff;
  font-size: 1.5rem;
}
