.rotating-cube-wrapper {
  perspective: 500px;
  -webkit-perspective: 500px;
  width: 60px;
  margin: 20px 40px;
  color: #fff;
}
.rotating-cube {
  margin: auto;
  width: 60px;
  height: 60px;
  transform-style: preserve-3d;
  -webkit-animation: cubeMove 10s linear infinite;
  animation: cubeMove 10s linear infinite;
}
.rotating-cube-side  {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.rotating-cube-top {
  transform: rotateX(90deg) translateZ(30px);
  -webkit-transform: rotateX(90deg) translateZ(30px);
}
.rotating-cube-right {
  transform: rotateY(90deg) translateZ(30px);
  -webkit-transform: rotateY(90deg) translateZ(30px);
}
.rotating-cube-left {
  transform: rotateY(-90deg) translateZ(30px);
  -webkit-transform: rotateY(-90deg) translateZ(30px);
}
.rotating-cube-bottom {
  transform: rotateX(-90deg) translateZ(30px);
  -webkit-transform: rotateX(-90deg) translateZ(30px);
}
.rotating-cube-front {
  transform: translateZ(30px);
  -webkit-transform: translateZ(30px);
}
.rotating-cube-back {
  transform: rotateY(-180deg) translateZ(30px);
  -webkit-transform: rotateY(-180deg) translateZ(30px);
}

.rotating-cube-side-text{
  display: grid;
  place-items: center;
  height: 100%;
  font-size: 10px;
}
.rotating-cube-logo{
  width: 50px;
}
@keyframes cubeMove {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}
