@use '../../styles/colors' as colors;

.footer-text {
  display: flex;
  flex-direction: column;
}
.logo-footer {
  height: 100px;
  width: 130px;
  padding: 15px 150px 5px 0;
}
.text-copyright {
  color: #88898d;
  font-size: 10px;
  text-decoration: none;
  padding: 5px 50px 15px 0;
}
.text-contacts {
  color: white;
  font-size: 25px;
  text-decoration: none;
  padding: 25px 40px 5px 40px;
  text-align: center;
}
.text-email {
  color: white;
  font-size: 24px;
  text-decoration: none;
  padding: 15px 40px 10px 40px;
  text-align: center;
}
.text-phone {
  padding-top: 10px;
}

.text-3d {
  color: white;
  font-size: 25px;
  padding: 85px 40px 10px 40px;
  text-decoration: none;
}
footer {
  color: white;
}
.footer-container {
  background-color: colors.$main-graphite;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: space-evenly;
}
.text-address {
  color: white;
  font-size: 18px;
  text-decoration: none;
  padding: 10px 50px 10px 0;
}
.footer-text {
  display: flex;
  flex-direction: column;
}
.logo-footer {
  height: 100px;
  width: 130px;
  padding: 15px 150px 5px 0;
}
.text-copyright {
  color: #88898d;
  font-size: 10px;
  text-decoration: none;
  padding: 5px 50px 15px 0;
}
.text-contacts {
  color: white;
  font-size: 25px;
  text-decoration: none;
  padding: 25px 40px 5px 40px;
  text-align: center;
}
.text-email {
  color: white;
  font-size: 18px;
  text-decoration: none;
  padding: 15px 40px 10px 40px;
  text-align: center;
}
.text-phone {
  padding-top: 10px;
}
.text-3d {
  color: white;
  font-size: 25px;
  padding: 85px 40px 10px 40px;
  text-decoration: none;
}
