@use '../../styles/colors' as colors;
.footer-container {
  box-sizing: border-box;
  background-color: colors.$main-graphite;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: space-evenly;
  padding: 20px;
}

.footer-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.it-journey-container{
  justify-content: center;
}
.logo-footer {
  height: 100px;
  width: 130px;
  margin: auto;
}
.text-address {
  font-size: 18px;
  text-decoration: none;
  padding: 10px 0;
  margin: auto;
}
.text-copyright {
  color: #88898d;
  font-size: 10px;
  text-decoration: none;
  padding: 5px 0;
  margin: auto;
}
.text-contacts {
  font-size: 25px;
  text-decoration: none;
  text-align: center;
  padding: 10px 0;
}
.text-email {
  font-size: 24px;
  text-decoration: none;
  text-align: center;
  padding: 10px 0;
}
.text-phone {
  padding: 10px 0;
}
.text-3d {
  font-size: 25px;
  text-decoration: none;
  color: white;
}
@media (screen and max-width: 1000px) {
  .text-3d {
    display: none;
  }
}
@media (screen and max-width: 600px) {
  .text-contacts {
    //font-size: 15px;
  }
  .footer-container {
    flex-direction: column-reverse;
    gap: 20px;
  }
}
