@use '../../styles/colors' as colors;
footer{
    color: white;
}
.footer-container{
    background-color: colors.$main-graphite;
    max-width: 900px;
    display: flex; 
    flex-direction: row; 
    margin: 0 auto;
    justify-content: space-evenly;
}
.textaddress{
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 50px 10px 0;

}
.footertext{
    display: flex;
    flex-direction: column;   
}
.logofooter{
    height: 100px;
    width: 130px;
    padding: 15px 150px 5px 0;
}
.textcopyright{
    color: #88898D;
    font-size: 10px;
    text-decoration: none;
    padding: 5px 50px 15px 0;
}
.text-contacts{
    color:white;
    font-size: 25px;
    text-decoration: none;
    padding: 25px 40px 5px 40px;
    text-align: center;
}
.text-email{
    color:white;
    font-size: 18px;
    text-decoration: none;
    padding: 15px 40px 10px 40px;  
    text-align: center;
}
.text-phone{
    padding-top: 10px;
}

.text-3d{
    color:white;
    font-size: 25px;
    padding: 85px 40px 10px 40px;  
    text-decoration: none;
}