@use '../../styles/colors' as colors;
.commission-case {
  background-color: colors.$lighter-dark-gray;
  padding: 40px;
}
.text-comission-head {
  color: #fff;
  font-size: 40px;
  margin-bottom: 40px;
}
.comission-row {
  display: flex;
}
.circle {
  width: 40px;
  height: 40px;
  background-color: colors.$box-shadow-dark-pink;
  border-radius: 50%;
  box-shadow: 0 0 5px #a71dd8;
  margin: 40px auto;
}
.comission-column-1 {
  position: relative;
}
.comission-column-2 {
  padding: 0 15px;
}
.comission-column-3 {
  flex-grow: 1;
}

.commission-text-column {
  color: #fff;
  font-size: 20px;
  &:first-child {
    margin-top: 50px;
  }
  margin-top: 55px;
}
.commission-text-link {
  color: #fff;
  font-size: 15px;
  margin: 60px 0 0 100px;
}
.comission-line {
  height: 160px;
  width: 4px;
  background: #a71dd8;
  position: absolute;
  top: 40px;
  right: 18px;
  box-shadow: 0 0 5px #a71dd8;
}
.commission-links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  flex-grow: 1;
  justify-content: center;
  a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
  }
}
.mobile-commission-links {
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  flex-grow: 1;
  justify-content: center;
  a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 5px;
  }
  display: none;
}
@media (screen and max-width: 750px) {
  .commission-text-column {
    font-size: 14px;
    margin-top: 64px;
  }
  .comission-column-3 {
    display: none;
  }
  .mobile-commission-links {
    display: flex;
    align-items: center;
  }
}
