canvas {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  opacity: 0;
  transition: 1s;
  overflow: hidden;
}
.ready {
  opacity: 1;
}
.go-back-btn-wrapper {
  border: 1px solid white;
  border-radius: 2px;
  padding: 10px 20px;
  position: fixed;
  margin: 20px;
  bottom: 0;
  background: #000;
  .go-back-btn {
    text-decoration: none;
    &:link {
      color: white;
    }
    &:visited {
      color: white;
    }
    &:hover {
      color: white;
    }
    &:active {
      color: white;
    }
  }
}
.start-screen{
  width: 100vw;
  height: 100vh;
  margin: auto;
  font-size: 2rem;
  color: #fff;
  text-align: center;
}
