@use "styles/mixins/scrollbar.mixin" as scrollbar-mixin;
@use "styles/variables" as variables;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Open+Sans:wght@300&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background: #0e0e0e;
  color: white;
  @include scrollbar-mixin.custom-scrollbar
}

// overriding webkit autocompletion styles
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

header ~ main{
  padding-top: variables.$headerAndPhoneHeight;
}

@media (screen and max-width: 1000px) {
  header ~ main{
    padding-top: variables.$headerHeight;
  }
}

.slick-slider{
  .slick-dots li button:before {
    color: #fff;
  }
  .slick-dots li.slick-active button:before{
    color: #fff;
  }
}
