@use '../../styles/colors' as colors;
@use '../../styles/variables' as variables;
.container-document {
  padding: 40px 0;
  background-color: colors.$main-graphite;
  scroll-margin-top: variables.$headerAndPhoneHeight;
}
.content {
  display: flex;
  gap: 50px;
  margin: 50px 40px 20px;
}
.text-conditions {
  color: #fff;
}
.text-title {
  font-weight: normal;
  margin-left: 30px;
}
.document-photo {
  height: 260px;
  max-width: 100%;
}
.document-photo-container {
  margin: 0 10px;
  cursor: pointer;
}
.documents-slider-wrapper{
  width: 200px;
  .slick-dots {
    bottom: -25px;
  }
}
@media (screen and max-width: 600px) {
  .content {
    flex-direction: column;
  }
  .documents-slider-wrapper{
    width: 100%;
  }
}
