@use '../../styles/colors' as colors;

.school-case {
  background-color: colors.$lighter-dark-gray;
  padding: 40px;
}
.text-open-day-head {
  color: #fff;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}
.open-day-flex-row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px 0;
  & > * {
    flex-grow: 1;
  }
}
.open-day-flex-column {
  & > * {
    width: 100%;
  }
  padding: 20px 0;
}
.open-day-btn-wrapper {
  margin-top: 20px;
  text-align: center;
}
.open-day-checkbox {
  display: flex;
  justify-content: center;
}
