@use '../../styles/mixins/scrollbar.mixin' as scrollbar-mixin;
@use '../../styles/colors' as colors;

.school-case {
  background-color: colors.$lighter-dark-gray;
  padding: 40px;
}
.text-open-day-head {
  color: #fff;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}
.open-day-flex-row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px 0;
  & > * {
    flex-grow: 1;
  }
}
.open-day-flex-column {
  & > * {
    width: 100%;
  }
  padding: 20px 0;
}
.open-day-btn-wrapper {
  margin-top: 20px;
  text-align: center;
}
.open-day-checkbox {
  display: flex;
  justify-content: center;
}

ul.MuiList-root.MuiMenu-list {
  background-color: colors.$lighter-dark-gray;
  color: #fff;
  max-height: 100px;
  overflow: auto;
  @include scrollbar-mixin.custom-scrollbar;
}

.MuiFormControl-root {
  label {
    &.Mui-focused {
      color: #a71dd8;
    }
    color: white;
  }
  .MuiOutlinedInput-root {
    color: white;
    fieldset {
      border-color: #a71dd8;
      color: white;
      legend {
        color: white;
      }
    }
    svg {
      color: white;
    }
  }
}
@media (screen and max-width: 700px) {
  .open-day-flex-row {
    flex-direction: column;
    gap: 20px;
    padding: 10px 0;
  }
  .open-day-flex-column {
    padding: 10px 0;
  }
}
