@use '../../styles/colors' as colors;

.school-case {
  background-color: colors.$lighter-dark-gray;
  padding: 40px;
}
.text-open-day-head {
  color: #fff;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}
.open-day-flex-row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px 0;
  & > * {
    flex-grow: 1;
  }
}
.open-day-flex-column {
  & > * {
    width: 100%;
  }
  padding: 20px 0;
}
.open-day-btn-wrapper {
  margin-top: 20px;
  text-align: center;
}
.open-day-checkbox {
  display: flex;
  justify-content: center;
}

// inner select styles
div.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
  background-color: colors.$lighter-dark-gray;
  color: white;
}

div.css-1m3lphp-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  fieldset {
    border-color: #a71dd8;
    color: white;
    legend{
      color: white;
    }
  }
}
.MuiFormControl-root{
  label{
    &.Mui-focused{
      color: #a71dd8;
    }
    color: white;
  }
  .MuiOutlinedInput-root{
    color: white;
    fieldset {
      border-color: #a71dd8;
      color: white;
      legend{
        color: white;
      }
    }
    svg{
      color: white;
    }
  }
}
